<div class="authMain">
  <div>
    <div>
      <form>
        <span>
          Sign In
        </span>

        <div data-validate="Please enter username">
          <input type="text" name="username" placeholder="Username">
        </div>
        <div data-validate="Please enter password">
          <input class="input100" type="text" name="pass" placeholder="Password">
        </div>

        <div>
          <span class="txt1">
            Forgot
          </span>

          <a href="#" class="txt2">
            Username / Password?
          </a>
        </div>

        <div class="txt2">
          <button>
            Sign in
          </button>
        </div>

        <div>
          <span class="txt1 p-b-9">
            Don’t have an account?
          </span>

          <a class="txt3" [routerLink]='["/reg"]'>
            Sign up now
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
