<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <div class="authBody">
        <div>
          <div>
            <form>
              <span class="txt4">
                Sign In
              </span>

              <div data-validate="Please enter username">
                <input type="text" [(ngModel)]="userName" name="username" placeholder="Username">
              </div>
              <div data-validate="Please enter password">
                <input class="input100" [(ngModel)]="password" type="text" name="pass" placeholder="Password">
              </div>

              <div>
                <span class="txt1">
                  Forgot
                </span>

                <a href="#" class="txt2">
                  Password?
                </a>
              </div>

              <div class="txt2">
                <button class="authButton" (click)="logIn()">
                  Sign in
                </button>
              </div>

              <div>
                <span class="txt1 p-b-9">
                  Don’t have an account?
                </span>

                <a class="txt3" [routerLink]='["reg"]'>
                  Sign up now
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>


