/* You can add global styles to this file, and also import other style files */

.txt1 {
  font-family: Ubuntu-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.4;
}

.txt2 {
  font-family: Ubuntu-Regular;
  font-size: 15px;
  color: #57b846;
  line-height: 1.4;
}

.txt3 {
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #57b846;
  line-height: 1.4;
  text-transform: uppercase;
}

.authButton {
  width: 183px;
  height: 35px;
  display: inline-block;
  border-radius:5px;
}

.authButton:hover {

}

.authBody {
  padding: 10px;
  display: inline-block;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
}

.txt4 {
  text-align: center;
}
